<ng-template #resourceCost
             let-resource="resource"
             let-resName="name">
    <span *ngIf="resource.amount > 0">{{ resName }}: <b style="color: lime" js-title="-4.574"><span>{{ resource.amount | customNumber }}</span></b></span>
</ng-template>
<div style="padding-left: 93px;">
    <div style="text-align: center">
        <table width="750">
            <tbody>
            <tr *ngFor="let obj of buildingInstances">
                <td class="l">
                    <a href="infos.php?gid=4"><img border="0" ngSrc="/img/{{ obj.building.imageName }}" align="top"
                                                   width="120" height="120"></a>
                </td>
                <td class="l">
                    <a href="infos.php?gid=4">{{ obj.building.name }}</a>
                    <span *ngIf="obj.level > 0"> (Уровень {{ obj.level }})</span>
                    (<div style="color: #00FF00; display: inline-block" text-tooltip tooltipText="Будет произведено энергии при постройке следующего уровеня">+239 Энергия</div>)<br>
                    {{ obj.building.shortDescription }}<br>
                    Необходимые ресурсы:
                    <ng-container *ngTemplateOutlet="resourceCost;context:{resource:obj.buildingCost.metal,name:'Металл'}"/>&nbsp;
                    <ng-container *ngTemplateOutlet="resourceCost;context:{resource:obj.buildingCost.crystal,name:'Кристалл'}"/>&nbsp;
                    <ng-container *ngTemplateOutlet="resourceCost;context:{resource:obj.buildingCost.deuterium,name:'Дейтерий'}"/>&nbsp;
                    <ng-container *ngTemplateOutlet="resourceCost;context:{resource:obj.buildingCost.energy,name:'Энергия'}"/>
                    <br>Время строительства: {{ obj.buildingTime * 1000 }}02 ч. 47 мин. 11 сек.
                    <div class="color-gray">Останется ресурсов: Металл: <b class="cgred">-4.575</b> Кристалл: <b
                            class="cgred">-8.212</b></div>
                    <br>
                </td>
                <td class="k" width="76"><font color="#FF0000">Недостаточно ресурсов!</font></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>