<ng-template #rowDisplay
             let-value="resource"
             let-resName="name"
             let-diff="diff">
    <ng-container *ngIf="isResourceAffected(resName)">
        <th style="color: {{ value != 0 ? getColor(value > 0) : 'white' }}"><span>{{ value | customNumber }}</span></th>
        <th style="color: {{ diff != 0 ? getColor(diff > 0) : 'white' }}">{{ diff | customNumber }}</th>
    </ng-container>
</ng-template>
<div>
    <table width="750">
        <tbody>
        <tr>
            <td class="c"> {{ building.name }}</td>
        </tr>
        <tr>
            <th>
                <table>
                    <tbody>
                    <tr>
                        <td valign="top"><img ngSrc="/img/building/{{ building.imageName }}" align="top" border="0" height="120" width="120"></td>
                        <td>{{ building.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </th>
        </tr>
        <tr *ngIf="building.productionByLevel.size !== 0">
            <th>
                <table style="margin: auto">
                    <tbody>
                    <tr>
                        <td class="c">Уровень</td>
                        <ng-container *ngIf="isResourceAffected('metal') !== 0">
                            <td class="c">{{ isResourceAffected('metal') > 0 ? 'Производство' : 'Потребление' }} металла/ч</td>
                            <td class="c">Разница</td>
                        </ng-container>
                        <ng-container *ngIf="isResourceAffected('crystal') !== 0">
                            <td class="c">{{ isResourceAffected('crystal') > 0 ? 'Производство' : 'Потребление' }} кристалла/ч</td>
                            <td class="c">Разница</td>
                        </ng-container>
                        <ng-container *ngIf="isResourceAffected('deuterium') !== 0">
                            <td class="c">{{ isResourceAffected('deuterium') > 0 ? 'Производство' : 'Потребление' }} дейтерия/ч</td>
                            <td class="c">Разница</td>
                        </ng-container>
                        <ng-container *ngIf="isResourceAffected('energy') !== 0">
                            <td class="c">{{ isResourceAffected('energy') > 0 ? 'Производство' : 'Потребление' }} энергии</td>
                            <td class="c">Разница</td>
                        </ng-container>
                    </tr>
                    <tr *ngFor="let row of building.productionByLevel | keyvalue">
                        <th style="color: {{ row.key != building.currentLevel ? 'white' : 'lime' }}">{{ row.key }}</th>
                        <ng-container *ngTemplateOutlet="rowDisplay;context:{
                                        resource:row.value.metal.productionPerHour,
                                        name:'metal',
                                        diff:building.differenceByLevel.get(row.key)!.metal.productionPerHour
                                    }"/>
                        <ng-container *ngTemplateOutlet="rowDisplay;context:{
                                        resource:row.value.crystal.productionPerHour,
                                        name:'crystal',
                                        diff:building.differenceByLevel.get(row.key)!.crystal.productionPerHour
                                    }"/>
                        <ng-container *ngTemplateOutlet="rowDisplay;context:{
                                        resource:row.value.deuterium.productionPerHour,
                                        name:'deuterium',
                                        diff:building.differenceByLevel.get(row.key)!.deuterium.productionPerHour
                                    }"/>
                        <ng-container *ngTemplateOutlet="rowDisplay;context:{
                                        resource:row.value.energy.amount,
                                        name:'energy',
                                        diff:building.differenceByLevel.get(row.key)!.energy.amount
                                    }"/>
                    </tr>
                    </tbody>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
</div>