<div style="padding-left: 93px;">
    <div style="text-align: center">
        <table width="750">
            <tbody>
            <tr *ngFor="let obj of buildingList">
                <td class="l">
                    <a href="infos.php?gid=4"><img border="0" src="/img/{{obj.imageName}}" align="top"
                                                   width="120" height="120"></a>
                </td>
                <td class="l">
                    <a href="infos.php?gid=4">{{ obj.name }}</a>
                    <span *ngIf="buildingInstances.get(obj.id)"> (Уровень {{ buildingInstances.get(obj.id) }})</span>
                    (<div style="color: #00FF00; display: inline-block" text-tooltip tooltipText="Будет произведено энергии при постройке следующего уровеня">+239 Энергия</div>)<br>
                    {{ obj.shortDescription }}<br>
                    Необходимые ресурсы: Металл: <b class="cred" js-title="-4.574"><span
                        class="noresources">{{ obj.costMetal }}</span></b> Кристалл: <b class="cred"
                                                                                        js-title="-8.211"><span
                        class="noresources">{{ obj.costCrystal }}</span></b>
                    <br>Время строительства: 02 ч. 47 мин. 11 сек.
                    <!--<div class="color-gray">Останется ресурсов: Металл: <b class="cgred">-4.575</b> Кристалл: <b
                            class="cgred">-8.212</b></div>-->
                    <br>
                </td>
                <td class="k" width="76"><font color="#FF0000">Недостаточно ресурсов!</font></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>