<ng-template #resourceField
             let-width="widthStyle"
             let-resource="resource"
             let-type="resType"
             let-tooltipText="tooltip">
    <!-- js-help="<div class=&quot;res-tooltip_header&quot;>Металл</div>
                    <br>
                    <p>Используется как основной материал при строительстве, очень нужен в начале игры.<br>
                    Для повышения добычи стройте и улучшайте <b>Рудник по добыче металла</b><br>
                    Офицер Геолог - существенно усиливает добычу<br>
                    Можно быстро купить этот ресурс в сервисах за куиды.<br>
                    Cамое дешёвое сырьё, но за то его требуется больше, чем всего остального.<br>
                    Для производства металла требуется меньше всего энергии.<br>
                    Добывается даже пока вас нет в игре.<br>
                    </p>,,STICKY" -->
    <div class="tbb_content {{width}}" style="color:white;"
         text-tooltip tooltipText="{{ tooltipText }}<br>{{type === 'energy' ? 'Всего' : 'Вместимость' }}: {{ resource.maxAmount | customNumber }}<br><br><small>Клик на иконку для просмотра деталей</small>">
        <span id="metal" class="tbb_element res-icon res_{{type}}" style="color:{{ resource.getColor() }};">{{ resource.amount | customNumber }}</span>
    </div>
    <div class="top_bar_next"></div>
</ng-template>

<div class="top_bar_fake">
    <div class="top_bar_bg">
        <div class="top_bar">
            <div class="left_menu_top"></div>
            <div class="top_bar_left">
                <div style="margin-left:1px;margin-top:5px;"></div>
            </div>
            <div class="top_bar_center" style="display: inline-flex">
                <div class="top_bar_open"></div>
                <ng-container *ngTemplateOutlet="resourceField;context:contextMetal"/>
                <ng-container *ngTemplateOutlet="resourceField;context:contextCrystal"/>
                <ng-container *ngTemplateOutlet="resourceField;context:contextDeuterium"/>
                <ng-container *ngTemplateOutlet="resourceField;context:contextEnergy"/>
                <!--<div class="tbb_content w_80" style="color:white;" js-title="Металл<br>Вместимость: 82.500<br><br><small>Клик на иконку для просмотра деталей</small>" js-help="<div class=&quot;res-tooltip_header&quot;>Металл</div>
                    <br>
                    <p>Используется как основной материал при строительстве, очень нужен в начале игры.<br>
                    Для повышения добычи стройте и улучшайте <b>Рудник по добыче металла</b><br>
                    Офицер Геолог - существенно усиливает добычу<br>
                    Можно быстро купить этот ресурс в сервисах за куиды.<br>
                    Cамое дешёвое сырьё, но за то его требуется больше, чем всего остального.<br>
                    Для производства металла требуется меньше всего энергии.<br>
                    Добывается даже пока вас нет в игре.<br>
                    </p>,,STICKY"><span id="metal" class="tbb_element res-icon res_metal">29.158</span></div>
                <div class="top_bar_next"></div>
                <div class="tbb_content w_80" style="color:white;" js-title="Кристалл<br>Вместимость: 44.000<br><br><small>Клик на иконку для просмотра деталей</small>" js-help="<div class=&quot;res-tooltip_header&quot;>Кристалл</div>
                    <br>
                    <p>Очень много кристалла требуется для исследований, особенно на пути к колонизации новых миров<br>
                    Для повышения добычи стройте и улучшайте <b>Рудник по добыче кристалла</b><br>
                    Офицер Геолог - существенно усиливает добычу<br>
                    Можно быстро купить этот ресурс в сервисах за куиды.<br>
                    Средний курс при обмене на металл 2 (1 единица кристалла = 2 единицам металла)<br>
                    Добывается даже пока вас нет в игре.<br>
                    </p>,,STICKY"><span id="crystal" class="tbb_element res-icon res2">5.417</span></div>
                <div class="top_bar_next"></div>
                <div class="tbb_content w_80" style="color:white;" js-title="Дейтерий<br>Вместимость: 44.000<br><br><small>Клик на иконку для просмотра деталей</small>" js-help="<div class=&quot;res-tooltip_header&quot;>Дейтерий</div>
                    <br>
                    <p>Является топливом для кораблей при звёздных перелётах<br>
                    Для повышения добычи стройте и улучшайте <b>Синтезатор дейтерия</b><br>
                    Офицер Геолог - существенно усиливает добычу<br>
                    Можно быстро купить этот ресурс в сервисах за куиды.<br>
                    На более холодных планетах дейтерий добывается быстрее<br>
                    Самое дорогое сырьё.<br>Средний курс при обмене на кристалл 2 (1 единица дейтерия = 2 единицам кристалла)<br>
                    Добывается даже пока вас нет в игре.<br>
                    </p>,,STICKY"><span id="deuterium" class="tbb_element res-icon res3">38.205</span></div>
                <div class="top_bar_next"></div>
                <div class="tbb_content w_60" style="color:white;" js-title="Энергия<br>Всего: 1.526<br><br><small>Клик для просмотра деталей</small>" js-help="<div class=&quot;res-tooltip_header&quot;>Энергия</div>
                    <br>
                    <p>Используется для работы добывающих предприятий (шахт и синтезаторов)<br>
                    При недостатке (отрицательных значениях) понижается эффективность работы добывающих предприятий<br>
                    Следите за балансом энергии не допускайте красных значений<br>
                    Для повышения выработки энергии стройте и улучшайте <b>Солнечную электростанцию</b>, <b>Термоядерную электростанцию</b><br>
                    Изучение энергетической технологии увеличивает выработку <b>Термоядерных электростанций</b><br>
                    Существенное количество энергии можно получить с достаточного количества <b>Солнечных спутников</b><br>
                    На горячих планетах <b>Солнечные спутники</b> вырабатывают больше энергии<br>
                    Офицер Инженер - существенно усиливает выработку энергии<br>
                    Большое количество энергии требуется для изучения гравитационной технологии.<br>
                    </p>,,STICKY"><span id="energy" class="tbb_element res-icon res4">26</span></div>
                <div class="top_bar_next"></div>
                <div class="tbb_content w_60" js-title="Кредиты<br><br><small>Клик на иконку для просмотра деталей</small>" js-help="<div class=&quot;res-tooltip_header&quot;>Кредиты</div>
                    <br>
                    <p>Внутри-игровая валюта<br>
                    Основное назначение - контроль численности флота (в разработке).<br>
                    За кредиты можно осуществлять:
                    <ul>
                      <li>Симуляции боёв (Меню → Симулятор боя)</li>
                      <li>Торговые операции между игроками - Рынок</li>
                      <li>Подарить другому игроку подарки</li>
                    </ul>
                    Кредиты можно получить следующим путем:
                    <ul>
                       <li>В экспедициях (доступно)
                       <li>Торговля с имперским флотом раз в час (доступно)
                       <li>За выполнение квестов или заданий (в разработке)
                       <li>Размен куидов на кредиты (в планах)
                    </ul>
                    </p>,,STICKY"><span id="cr" class="tbb_element res-icon res-cr">223</span></div>
                <div class="top_bar_next"></div>
                <div class="tbb_content w_60" js-title="Куиды<br><br><small>Клик на иконку для просмотра деталей</small>" js-help="<div class=&quot;res-tooltip_header&quot;>Куиды</div>
                    <br>
                    <p>Является не игровой валютой<br>
                    Куиды можно потратить на:
                    <ul>
                       <li>Найм офицеров (Меню → Офицеры)</li>
                       <li>Игровые сервисы (Меню → Сервисы)</li>
                       <li>Создание альянса</li>
                       <li>Снятие игровых санкций</li>
                    </ul>
                    <br>
                    Способы пополнить куидный счёт:
                    <ul>
                        <li>Заработать в реферальной программе (Меню → Заработать куиды)
                        <li><a href=&quot;/quids.php&quot;>Пополнить счёт</a> за реальные деньги (Меню → Получить куиды)
                        <li>Выиграть (Меню → Выиграть куиды) или получить в качестве приза в конкурсе
                        <li>Поддержка премирует всех внимательных игроков нашедших в игре неизвестные ошибки
                    </ul>
                    </p>,,STICKY"><span id="quid" class="tbb_element res-icon res-q">250</span></div>
                <div class="top_bar_next"></div>
                <div class="tbb_content w_70" js-title="Сообщения<br><br><small>Клик на иконку для просмотра деталей</small>" js-help="<div class=&quot;res-tooltip_header&quot;>Сообщения</div>
                    <br>
                    <p>Нажав на число в квадратных скобках вы увидете список игровых и системных сообщений<br>
                    Так же тут отображается оранжевым количество новых сообщений от поддержки<br>
                    </p>,,STICKY"><span id="message" class="tbb_element res-icon message"><a href="/messages.php" js-title="<div style='width: 200px;'><div style='color: #FFFF00;' messcat='0'>Шпионские доклады <span class='fright'>0</span></div>
<div style='color: #00FFFF;' messcat='1'>Сообщения от игроков <span class='fright'>0</span></div>
<div style='color: #49B492;' messcat='2'>Сообщения альянса <span class='fright'>0</span></div>
<div style='color: #FF6699;' messcat='3'>Боевые отчёты <span class='fright'>0</span></div>
<div style='color: #9D6AB6;' messcat='4'>Отчёты от переработчиков <span class='fright'>0</span></div>
<div style='color: #009933;' messcat='5'>Доставка флота <span class='fright'>0</span></div>
<div style='color: #009933;' messcat='6'>Торговля <span class='fright'>0</span></div>
<div style='color: #60c3f3;' messcat='12'>Поисковые отчёты <span class='fright'>0</span></div>
<div style='color: #6864F3;' messcat='15'>Отчёты экспедиций <span class='fright'>0</span></div>
<div style='color: #eeeeee;' messcat='95'>Система оповещений <span class='fright'>0</span></div>
<div style='color: #FF9900;' messcat='97'>Системные сообщения <span class='fright'>0</span></div>
<div style='color: #08a6a9;' messcat='99'>Сообщения очереди построек <span class='fright'>0</span></div>
<div style='color: #ABABAB;' messcat='100'>Все сообщения <span class='fright'>0</span></div>
</div>">[ 0 ]</a> </span></div>-->
                <div class="top_bar_close"></div>
            </div>
        </div>
    </div>
</div>

<div class="nobgmove prime" style="user-select: auto; display: flex">
    <div id="overDiv" style="position: absolute;visibility: hidden;z-index: 9000;"></div>
    <div class="leftmenu" ondragstart="return false;">
        <div style="text-align: left">
            <div class="menu">
                <table width="114" cellspacing="0" cellpadding="0" class="lefttable">
                    <tbody>
                    <tr>
                        <th colspan="2" style="padding:0;"><img ngSrc="/img/ui/menu.png" priority alt="Меню" width="114"
                                                                height="15"></th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="http://battlespace.ru/lib" accesskey="g" target="_blank" style="color:white">Библиотека</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="techtree.php" accesskey="g" target="Hauptframe">Технологии</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="overview.php" accesskey="g" target="Hauptframe"
                                    style="color:#eedc82;">Обзор</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="resources.php" accesskey="r" target="Hauptframe" style="color:#eedc82;">Ресурсы</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="buildings.php?loc=building" accesskey="b" target="Hauptframe"
                                    style="color:#eedc82;">Постройки</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="buildings.php?loc=research" accesskey="r" target="Hauptframe"
                                    style="color:#eedc82;">Исследования</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="buildings.php?loc=fleet" accesskey="f" target="Hauptframe"
                                    style="color:#eedc82;">Верфь</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="buildings.php?loc=defense" accesskey="d" target="Hauptframe"
                                    style="color:#eedc82;">Оборона</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="fleet.php" accesskey="t" target="Hauptframe" style="color:#eedc82;">Флот</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="galaxy.php" accesskey="s" target="Hauptframe"
                                    style="color:#ECD300;">Галактика</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="imperium.php" accesskey="i" target="Hauptframe"
                                    style="color:#ECD300;">Империя</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="allys.php" accesskey="a" target="Hauptframe" style="color:#ECD300;">Альянс</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="/rank.php#cmine" accesskey="k" target="Hauptframe" style="color:#5BC8FF;">Рейтинг</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="records.php" accesskey="3" target="Hauptframe">Рекорды</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="quids.php" accesskey="o" target="Hauptframe" style="color:#ff9900;">Пополнить
                                счёт</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="officer.php" accesskey="o" target="Hauptframe"
                                    style="color:#ff9900;">Офицеры</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="services.php" accesskey="o" target="Hauptframe"
                                    style="color:#ff9900;">Сервисы</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="qwin.php" accesskey="o" target="Hauptframe" style="color:#ff9900;">Выиграть
                                Куиды</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="position:relative;"><a href="refsystem.html" class="js-menu-link" accesskey="c"
                                                               target="Hauptframe" style="color:#ff9900;">Рефералка</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="ticket.php" accesskey="3" target="Hauptframe"
                                    style="color:lime;">Поддержка</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="sim.php" accesskey="b" target="Hauptframe">Симулятор боя</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="messages.php" accesskey="b" target="Hauptframe">Сообщения</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="search.php" accesskey="b" target="Hauptframe">Поиск</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="contacts.php" accesskey="c" target="Hauptframe">Контакты</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="#" onclick="f('notes.php', 'Report');" accesskey="n">Заметки</a></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div><a href="http://battlespace.ru/lastnews" accesskey="1" target="_blank">Новости</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="/rules.html" accesskey="1" target="_blank">Правила игры</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="options.php" accesskey="o" target="Hauptframe">Опции</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div><a href="javascript:void(0)" onclick="Logout();" accesskey="s" title="ЛК">Личный
                                кабинет</a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <router-outlet/>
</div>
