<ng-template #unitTable
             let-instances="instances">
    <tr *ngFor="let obj of instances">
        <th class="l" width="40%">
            <table width="100%">
                <tbody>
                <tr>
                    <td style="background-color: transparent; text-align: left; font-weight: bold; font-size: larger">
                        <img height="30" width="30" class="requirement-img" ngSrc="/img/unit/{{ obj.unit.imageName }}" alt="{{ obj.unit.name }}"/>
                        <a routerLink="/research/{{ obj.unit.id }}" >{{ obj.unit.name }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </th>
        <th class="l" width="60%">
            <table width="100%">
                <tbody>
                <tr>
                    <td style="background-color: transparent; text-align: left">
                        <ng-container *ngFor="let req of obj.requirements">
                            <div style="color: {{ req.currentLevel >= req.requiredLevel ? 'lime' : 'red' }}">{{ req.name }} (уровень {{ req.requiredLevel }}) Ваш уровень: {{ req.currentLevel }}</div>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </table>
        </th>
    </tr>
</ng-template>
<div style="text-align: center">
    <br>
    <table width="750">
        <tbody>
        <tr>
            <td class="c">Постройки</td>
            <td class="c">Требуется</td>
        </tr>
        <tr *ngFor="let obj of buildingInstances">
            <th class="l" width="40%">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td style="background-color: transparent; text-align: left; font-weight: bold; font-size: larger">
                            <img height="30" width="30" class="requirement-img" ngSrc="/img/building/{{ obj.building.imageName }}" alt="{{ obj.building.name }}"/>
                            <a routerLink="/buildings/{{ obj.building.id }}">{{ obj.building.name }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th>
            <th class="l" width="60%">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td style="background-color: transparent; text-align: left">
                            <ng-container *ngFor="let req of obj.requirements">
                                <div style="color: {{ req.currentLevel >= req.requiredLevel ? 'lime' : 'red' }}">{{ req.name }} (уровень {{ req.requiredLevel }}) Ваш уровень: {{ req.currentLevel }}</div>
                            </ng-container>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th>
        </tr>

        <tr>
            <td class="c">Особые постройки</td>
            <td class="c">Требуется</td>
        </tr>

        <tr>
            <td class="c">Исследования</td>
            <td class="c">Требуется</td>
        </tr>
        <tr *ngFor="let obj of technologyInstances">
            <th class="l" width="40%">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td style="background-color: transparent; text-align: left; font-weight: bold; font-size: larger">
                            <img height="30" width="30" class="requirement-img" ngSrc="/img/technology/{{ obj.technology.imageName }}" alt="{{ obj.technology.name }}"/>
                            <a routerLink="/research/{{ obj.technology.id }}" >{{ obj.technology.name }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th>
            <th class="l" width="60%">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td style="background-color: transparent; text-align: left">
                            <ng-container *ngFor="let req of obj.requirements">
                                <div style="color: {{ req.currentLevel >= req.requiredLevel ? 'lime' : 'red' }}">{{ req.name }} (уровень {{ req.requiredLevel }}) Ваш уровень: {{ req.currentLevel }}</div>
                            </ng-container>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th>
        </tr>

        <tr>
            <td class="c">Флот</td>
            <td class="c">Требуется</td>
        </tr>
        <ng-container *ngTemplateOutlet="unitTable;context:{
                        instances:fleetInstances
                    }"/>

        <tr>
            <td class="c">Оборона</td>
            <td class="c">Требуется</td>
        </tr>
        <ng-container *ngTemplateOutlet="unitTable;context:{
                        instances:defenseInstances
                    }"/>

        </tbody>
    </table>
</div>