<ng-template #resourceCost
             let-cost="resource"
             let-resName="name"
             let-stock="planetStock">
    <span *ngIf="cost.amount > 0">{{ resName }}: <b style="color: {{  getColor(hasResource(cost, stock)) }}">{{ cost.amount | customNumber }}&nbsp;</b></span>
</ng-template>
<ng-template #resourceRemaining
             let-cost="resource"
             let-resName="name"
             let-stock="planetStock">
    <span *ngIf="cost.amount > 0">{{ resName }}: <b style="color: color-mix(in xyz, gray 100%, {{  getColor(stock.amount - cost.amount >= 0) }} 20%)">{{ stock.amount - cost.amount | customNumber }}&nbsp;</b></span>
</ng-template>
<div style="text-align: center; width: 750px">
    <table>
        <tbody>
        <tr *ngFor="let obj of technologyInstances">
            <td class="l" style="vertical-align: middle">
                <a routerLink="/research/{{ obj.technology.id }}">
                    <img style="border: 0" ngSrc="/img/technology/{{ obj.technology.imageName }}" width="120" height="120" alt="{{ obj.technology.name }}">
                </a>
            </td>
            <td class="l">
                <span><a routerLink="/research/{{ obj.technology.id }}">{{ obj.technology.name }}</a>&nbsp;</span>
                <span *ngIf="obj.level > 0">(Уровень {{ obj.level }}) </span><br>
                {{ obj.technology.shortDescription }}<br>
                Необходимые ресурсы:
                <ng-container *ngTemplateOutlet="resourceCost;context:{
                        resource:obj.researchCost.metal,
                        planetStock:resources.metal,
                        name:'Металл'
                    }"/>
                <ng-container *ngTemplateOutlet="resourceCost;context:{
                        resource:obj.researchCost.crystal,
                        planetStock:resources.crystal,
                        name:'Кристалл',
                    }"/>
                <ng-container *ngTemplateOutlet="resourceCost;context:{
                        resource:obj.researchCost.deuterium,
                        planetStock:resources.deuterium,
                        name:'Дейтерий'
                    }"/>
                <ng-container *ngTemplateOutlet="resourceCost;context:{
                        resource:obj.researchCost.energy,
                        planetStock:resources.energy,
                        name:'Энергия'
                    }"/>
                <br>Время строительства: {{ obj.researchTime | duration }}
                <div style="color: gray">Останется ресурсов:
                    <ng-container *ngTemplateOutlet="resourceRemaining;context:{
                            resource:obj.researchCost.metal,
                            planetStock:resources.metal,
                            name:'Металл'
                        }"/>
                    <ng-container *ngTemplateOutlet="resourceRemaining;context:{
                            resource:obj.researchCost.crystal,
                            planetStock:resources.crystal,
                            name:'Кристалл',
                        }"/>
                    <ng-container *ngTemplateOutlet="resourceRemaining;context:{
                            resource:obj.researchCost.deuterium,
                            planetStock:resources.deuterium,
                            name:'Дейтерий'
                        }"/>
                    <ng-container *ngTemplateOutlet="resourceRemaining;context:{
                            resource:obj.researchCost.energy,
                            planetStock:resources.energy,
                            name:'Энергия'
                        }"/><br>
                </div>
            </td>
            <td class="k w_76">
                <ng-container *ngIf="obj.requirements.length === 0">
                    <ng-container *ngIf="!technologyOrder">
                        <span *ngIf="!canBuild(obj)" style="color: red">Недостаточно ресурсов!</span>
                        <a *ngIf="canBuild(obj)" style="color: lime" href="javascript:void(0);" (click)="createOrder(obj.technology.id)">{{ 'Исследовать' + (obj.level !== 0 ? ' уровень ' + (obj.level + 1) : '') }}</a>
                    </ng-container>
                    <ng-container *ngIf="technologyOrder">
                        <span *ngIf="technologyOrder.technologyId !== obj.technology.id">-</span>
                        <ng-container *ngIf="technologyOrder.technologyId === obj.technology.id">
                            <span *ngIf="planetNames.has(technologyOrder.planetId) && user.activePlanet !== technologyOrder.planetId" style="font-weight: bold">Исследуется на планете {{ planetNames.get(technologyOrder.planetId) }}<br><br></span>
                            <span style="font-weight: bold">{{ technologyOrder.timeLeft | duration:':' }}</span>
                            <br>
                            <a href="javascript:void(0);" (click)="deleteOrder(technologyOrder.id)">Отменить</a>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="obj.requirements.length !== 0">
                    <div>
                        <ng-container *ngFor="let req of obj.requirements">
                            <div class="el-require" routerLink="/{{ req.detailsPath }}" text-tooltip tooltipText="Требуется: {{ req.name }} {{ req.requiredLevel }} уровня (у Вас {{ req.currentLevel }})">
                                <a>
                                    <img border="0" ngSrc="/img/{{ req.imagePath }}" width="32" height="32" alt="{{ req.name }}"/>
                                </a>
                                <div class="el-require-block">
                                    <div class="el-require-skos"></div>
                                    <div class="el-require-bg"><span style="color:red">{{ req.currentLevel }}/{{ req.requiredLevel }}</span></div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </td>
        </tr>
        </tbody>
    </table>
</div>