<div #tooltip class="tooltip">
    <table width="324" border="0" cellpadding="1" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td valign="top">
                            <div style="color:#FFFFFF;font-family:Verdana,Arial,Helvetica;font-size:10px;">
                                {{ text }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>